# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data
video/
frames/
*.json
*.mp4
*.jpg

# Model weights
*.pt
*.engine

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Secrets
.env
*.key